### Marks Adding
Download CSV file into assets folder

In [ ]:
!mkdir assets
!wget -O assets/marks.csv "https://raw.githubusercontent.com/psrana/Mini-Project-Marks-Adding/main/Mini%20Project%20-%20Marks%20Adding.csv" --quiet

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("assets/marks.csv")
df.head(10)

    Roll Num  Marks
0  102003542      1
1  102003640      1
2  102003725      1
3  102003307      1
4  102003458      1
5  102003643      1
6  102017134      1
7  102003207      1
8  102003315      1
9  102003362      1

In [3]:
# We'll find the unique number of records in our dataframe first.
df["Roll Num"].unique().shape[0]

400

In [4]:
final_df = df.groupby("Roll Num").agg({'Marks': ['sum', 'count']})
final_df.columns = ['Sum of Marks', 'Frequency']
final_df

           Sum of Marks  Frequency
Roll Num
102003001             3          4
102003002             5          5
102003017             5          5
102003018             5          5
102003029             5          5
...                 ...        ...
102196010             4          4
102197016             5          5
102197018             4          5
102197019             5          5
102197021             5          5

[400 rows x 2 columns]